<% layout('layout') %>
<h1 class="text-center">Welcome to Resume Builder</h1>
<p class="text-center">Create and manage your professional resume easily.</p>
<a href="/register" class="btn btn-primary d-block mx-auto" style="max-width:200px;">Get Started</a>
